body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#ffffff, #efe1d1);
  background-attachment: fixed;
}

a:link,
a:visited {
  text-decoration: none;
  color: #b46166;
}

a:hover,
a:active {
  color: #e89194;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
